{{define "title"}}{{.Racer1.Name}} vs {{.Racer2.Name}}{{end}}

{{define "header"}}
<div class="header-component" data-message="{{.Racer1.Name}} vs {{.Racer2.Name}}"></div>
{{end}}

{{define "content"}}
  <div class="row">
    <div class="col mb-3">
      <div class="p-2">Name: {{.Racer1.Name}}<br>
          {{if .Racer1.Image }}<img src="{{.Racer1.Image}}" width="300" alt="{{.Racer1.Name}}">{{else}}No photo{{end}}</div>
      <div class="p-2">
        <form method="post">
          <input type="hidden" name="token" value="{{.Token}}">
          <input type="hidden" name="vote" value="{{.Vote1}}">
          <input type="submit" value="Джентельмен">
        </form>
      </div>
    </div>

    <div class="col mb-3">
      <div class="p-2">Name: {{.Racer2.Name}}<br>
          {{if .Racer2.Image }}<img src="{{.Racer2.Image}}" width="300" alt="{{.Racer2.Name}}">{{else}}No photo{{end}}</div>
      <div class="p-2">
        <form method="post">
          <input type="hidden" name="token" value="{{.Token}}">
          <input type="hidden" name="vote" value="{{.Vote2}}">
          <input type="submit" value="Джентельмен">
        </form>
      </div>
    </div>
  </div>

{{end}}
